# Proyek Analisis Data: Bike Sharing
- **Nama:** Juniyara Parisya Setiawan
- **Email:** parissajuniara@gmail.com
- **ID Dicoding:** juniyaraparisya

# Import Semua Packages/Library yang Digunakan

In [ ]:
pip install streamlit

Requirement already satisfied: streamlit in /usr/local/lib/python3.12/dist-packages (1.53.1)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<7,>=4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=5.5 in /usr/local/lib/python3.12/dist-packages (from streamlit) (6.2.6)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (8.3.1)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.12/dist-packages (from streamlit) (2.0.2)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.12/dist-packages (from streamlit) (25.0)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<13,>=7.1.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (11.3.0)
Requirement already satisfied: protobuf<7,>=3.20 in /usr/local/lib/python3.12/dist-packages (from streamlit) (5.29.5)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.12/dist-packages (from streamlit) (2.32.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.12/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.10.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (4.15.0)
Requirement already satisfied: watchdog<7,>=2.1.5 in /usr/local/lib/python3.12/dist-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.12/dist-packages (from streamlit) (3.1.46)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /usr/local/lib/python3.12/dist-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in /usr/local/lib/python3.12/dist-packages (from streamlit) (6.5.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (4.26.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (2.15.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.12/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (2026.1.4)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.12/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (0.37.0)
Requirement already satisfied: rpds-py>=0.25.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (0.30.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)

In [ ]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import streamlit as st
import os

In [ ]:
!python --version

Python 3.12.12

In [ ]:
!matplotlib --version

/bin/bash: line 1: matplotlib: command not found

In [ ]:
print(matplotlib.__version__)

3.10.0

In [ ]:
print(sns.__version__)

0.13.2

In [ ]:
print(pd.__version__)

2.2.2

In [ ]:
print(st.__version__)

1.53.1

In [ ]:
print(np.__version__)

2.0.2

# Data Wrangling

## Gathering Data

Bike sharing systems are new generation of traditional bike rentals where whole process from membership, rental and return
back has become automatic. Through these systems, user is able to easily rent a bike from a particular position and return
back at another position. Currently, there are about over 500 bike-sharing programs around the world which is composed of
over 500 thousands bicycles. Today, there exists great interest in these systems due to their important role in traffic,
environmental and health issues.

Apart from interesting real world applications of bike sharing systems, the characteristics of data being generated by
these systems make them attractive for the research. Opposed to other transport services such as bus or subway, the duration
of travel, departure and arrival position is explicitly recorded in these systems. This feature turns bike sharing system into
a virtual sensor network that can be used for sensing mobility in the city. Hence, it is expected that most of important
events in the city could be detected via monitoring these data.

In [ ]:
# import data day.csv

day_df = pd.read_csv('https://raw.githubusercontent.com/JunTheCoder62/Data-Analytics/refs/heads/main/Data/day.csv')
day_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [ ]:
# import data hour.csv

hour_df = pd.read_csv('https://raw.githubusercontent.com/JunTheCoder62/Data-Analytics/refs/heads/main/Data/hour.csv')
hour_df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

## Assessing Data

### a. Type Data

In [ ]:
## Type Data

day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [ ]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

### b. Duplicate

In [ ]:
day_df.duplicated().sum()

np.int64(0)

In [ ]:
hour_df.duplicated().sum()

np.int64(0)

c. Missing Value

In [ ]:
day_df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [ ]:
hour_df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

## Cleaning data

Dalam Cleaning data dilakukan penyesuaian tipe data, nama data, dan penyesuaian data yang akan digunakan.

In [ ]:
day_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [ ]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [ ]:
# untuk mengetahi jumlah data unik dalam column

day_df['mnth'].value_counts().sort_index()

mnth
1     62
2     57
3     62
4     60
5     62
6     60
7     62
8     62
9     60
10    62
11    60
12    62
Name: count, dtype: int64

In [ ]:
# Bisa juga dengan menggunakan func .unique()

day_df['mnth'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [ ]:
day_df.rename(columns={'yr': 'year', 'mnth': 'month', 'weathersit': 'weather_condition', 'hum': 'humidity', 'cnt': 'count'}, inplace=True)

Mapping nilai data

In [ ]:
# Mapping Bulan
mapping_month = {
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
}
day_df['month'] = day_df['month'].map(mapping_month)

In [ ]:
# Mapping Season
mapping_season = {
    1: 'Spring'
    , 2: 'Summer'
    , 3: 'Fall'
    , 4: 'Winter'
}
day_df['season'] = day_df['season'].map(mapping_season)

In [ ]:
# Mapping Weather
mapping_weather = {
    1: 'Clear, Few clouds, Partly cloudy, Partly cloudy'
    , 2: 'Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist'
    , 3: 'Light Snow'
    , 4: 'Heavy Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds'
}
day_df['weather_condition'] = day_df['weather_condition'].map(mapping_weather)

In [ ]:
# mapping Tahun
mapping_year = {0: 2011, 1: 2012}
day_df['year'] = day_df['year'].map(mapping_year)

### a. cleaning data data day_df.csv

In [ ]:
day_df.describe()

,instant,year,holiday,weekday,workingday,temp,atemp,humidity,windspeed,casual,registered,count
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2011.500684,0.028728,2.997264,0.683995,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,0.500342,0.167155,2.004787,0.465233,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,2011.000000,0.000000,0.000000,0.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2011.000000,0.000000,1.000000,0.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,2012.000000,0.000000,3.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,2012.000000,0.000000,5.000000,1.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,2012.000000,1.000000,6.000000,1.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [ ]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   instant            731 non-null    int64
 1   dteday             731 non-null    object
 2   season             731 non-null    object
 3   year               731 non-null    int64
 4   month              731 non-null    object
 5   holiday            731 non-null    int64
 6   weekday            731 non-null    int64
 7   workingday         731 non-null    int64
 8   weather_condition  731 non-null    object
 9   temp               731 non-null    float64
 10  atemp              731 non-null    float64
 11  humidity           731 non-null    float64
 12  windspeed          731 non-null    float64
 13  casual             731 non-null    int64
 14  registered         731 non-null    int64
 15  count              731 non-null    int64
dtypes: float64(4), int64(8), object(4)
memory usage: 91.5+ KB

In [ ]:
day_df.drop(['windspeed', 'weekday'],  axis=1, inplace=True)

In [ ]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   instant            731 non-null    int64
 1   dteday             731 non-null    object
 2   season             731 non-null    object
 3   year               731 non-null    int64
 4   month              731 non-null    object
 5   holiday            731 non-null    int64
 6   workingday         731 non-null    int64
 7   weather_condition  731 non-null    object
 8   temp               731 non-null    float64
 9   atemp              731 non-null    float64
 10  humidity           731 non-null    float64
 11  casual             731 non-null    int64
 12  registered         731 non-null    int64
 13  count              731 non-null    int64
dtypes: float64(3), int64(7), object(4)
memory usage: 80.1+ KB

In [ ]:
# mengubah tipe data dari int menajdi categorical

day_df['year'] = day_df['year'].astype('object')
day_df['month'] = day_df['month'].astype('category')
day_df['season'] = day_df['season'].astype('category')
day_df['weather_condition'] = day_df['weather_condition'].astype('category')
day_df['workingday'] = day_df['workingday'].astype('category')

day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   instant            731 non-null    int64
 1   dteday             731 non-null    object
 2   season             731 non-null    category
 3   year               731 non-null    object
 4   month              731 non-null    category
 5   holiday            731 non-null    int64
 6   workingday         731 non-null    category
 7   weather_condition  731 non-null    category
 8   temp               731 non-null    float64
 9   atemp              731 non-null    float64
 10  humidity           731 non-null    float64
 11  casual             731 non-null    int64
 12  registered         731 non-null    int64
 13  count              731 non-null    int64
dtypes: category(4), float64(3), int64(5), object(2)
memory usage: 60.9+ KB

penggantian data dari integre menjadi category adalah agar tidak membebani memory, dan agar data lebih cepat diproses.

### b. cleaning data hour_df.csv

In [ ]:
hour_df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [ ]:
hour_df.describe(include='object')

            dteday
count        17379
unique         731
top     2012-12-31
freq            24

In [ ]:
hour_df.drop(['windspeed', 'weekday'], axis=1, inplace=True)

hour_df.head()

,instant,dteday,season,yr,mnth,hr,holiday,workingday,weathersit,temp,atemp,hum,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,0,1,0.24,0.2879,0.81,3,13,16
1,2,2011-01-01,1,0,1,1,0,0,1,0.22,0.2727,0.80,8,32,40
2,3,2011-01-01,1,0,1,2,0,0,1,0.22,0.2727,0.80,5,27,32
3,4,2011-01-01,1,0,1,3,0,0,1,0.24,0.2879,0.75,3,10,13
4,5,2011-01-01,1,0,1,4,0,0,1,0.24,0.2879,0.75,0,1,1

In [ ]:
hour_df.rename(columns={'yr': 'year', 'mnth': 'month', 'weathersit': 'weather_condition', 'hum': 'humidity', 'cnt': 'count'}, inplace=True)

hour_df.head()

,instant,dteday,season,year,month,hr,holiday,workingday,weather_condition,temp,atemp,humidity,casual,registered,count
0,1,2011-01-01,1,0,1,0,0,0,1,0.24,0.2879,0.81,3,13,16
1,2,2011-01-01,1,0,1,1,0,0,1,0.22,0.2727,0.80,8,32,40
2,3,2011-01-01,1,0,1,2,0,0,1,0.22,0.2727,0.80,5,27,32
3,4,2011-01-01,1,0,1,3,0,0,1,0.24,0.2879,0.75,3,10,13
4,5,2011-01-01,1,0,1,4,0,0,1,0.24,0.2879,0.75,0,1,1

Mapping Nilai dari Numerical menjadi Categorical

In [ ]:
# Mapping Nilai dari Numerical menjadi Categorical

hour_df['season'] = hour_df['season'].map(mapping_season)
hour_df['year'] = hour_df['year'].map(mapping_year)
hour_df['weather_condition'] = hour_df['weather_condition'].map(mapping_weather)
hour_df['month'] = hour_df['month'].map(mapping_month)

hour_df.head()

,instant,dteday,season,year,month,hr,holiday,workingday,weather_condition,temp,atemp,humidity,casual,registered,count
0,1,2011-01-01,Spring,2011,January,0,0,0,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.24,0.2879,0.81,3,13,16
1,2,2011-01-01,Spring,2011,January,1,0,0,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.22,0.2727,0.80,8,32,40
2,3,2011-01-01,Spring,2011,January,2,0,0,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.22,0.2727,0.80,5,27,32
3,4,2011-01-01,Spring,2011,January,3,0,0,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.24,0.2879,0.75,3,10,13
4,5,2011-01-01,Spring,2011,January,4,0,0,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.24,0.2879,0.75,0,1,1

In [ ]:
day_df['month'].value_counts()

month
August       62
December     62
July         62
January      62
October      62
May          62
March        62
April        60
November     60
June         60
September    60
February     57
Name: count, dtype: int64

In [ ]:
hour_df.describe().count()

instant       8
year          8
hr            8
holiday       8
workingday    8
temp          8
atemp         8
humidity      8
casual        8
registered    8
count         8
dtype: int64

In [ ]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   instant            17379 non-null  int64
 1   dteday             17379 non-null  object
 2   season             17379 non-null  object
 3   year               17379 non-null  int64
 4   month              17379 non-null  object
 5   hr                 17379 non-null  int64
 6   holiday            17379 non-null  int64
 7   workingday         17379 non-null  int64
 8   weather_condition  17379 non-null  object
 9   temp               17379 non-null  float64
 10  atemp              17379 non-null  float64
 11  humidity           17379 non-null  float64
 12  casual             17379 non-null  int64
 13  registered         17379 non-null  int64
 14  count              17379 non-null  int64
dtypes: float64(3), int64(8), object(4)
memory usage: 2.0+ MB

# Exploratory Data Analysis (EDA)

## a. day_df EDA

In [ ]:
# Jumlah Rental Sepeda untuk setiap bulan

day_df.groupby('month')['count'].sum().sort_values(ascending=False)

In [ ]:
day_df.groupby(by=['year', 'month']).agg({
    'count': ['sum', 'max', 'min', 'mean']
})

Dapat ditarik kesimpulan dari insight data diatas yaitu:

* Bulan dengan Rental Tertinggi dan Terendah Overall:
  1. Agustus memiliki jumlah rental sepeda tertinggi secara keseluruhan, diikuti oleh Juni dan September. Ini menunjukkan puncak penggunaan sepeda terjadi di musim panas dan awal musim gugur.
  2. Januari dan Februari memiliki jumlah rental sepeda terendah, yang kemungkinan besar disebabkan oleh kondisi cuaca yang dingin di musim dingin.

* Tren Rental Per Tahun:
  1. Terdapat peningkatan signifikan dalam jumlah rental sepeda dari tahun 2011 ke 2012 untuk hampir setiap bulan. Ini bisa mengindikasikan pertumbuhan popularitas sistem bike-sharing atau ekspansi layanan.
  2. Contohnya, pada bulan April, total rental meningkat dari 94.870 di tahun 2011 menjadi 174.224 di tahun 2012. Hal serupa terlihat di bulan-bulan lainnya seperti Agustus, Juli, dan September.

In [ ]:
# Jumlah Rental Sepeda untuk setiap Season

day_df.groupby('season')['count'].sum().sort_values(ascending=False)

In [ ]:
day_df.groupby(by='season').agg({
    'count': ['sum', 'max', 'min', 'mean'],
    'temp' : ['mean', 'max', 'min', 'std'],
    'atemp': ['mean', 'max', 'min', 'std'],
    'humidity' : ['mean', 'max', 'min', 'std'],
})

Didapat insight dari tabel diatas yaitu:

* Musim Rental sepeda tertinggi:
Musim gugur memliki jumlah tertinggi peminjaman sepeda (1061129) dengan rata - rata tertinggi. jumlah tertitnggi kedua yaitu musim panas (918589) dengan rata - rata peminjaman tertinggi kedua, kemudian musim dingin dengan jumlah peminjam tertinggi ketiga, dan yang terakhir musim semi.

* Kelembapan Rental Sepeda Tertinggi:
Musin Dingin memiliki jumlah tertinggi rental sepeda dengan humidity yang tinggi, musim gugur memiliki jumlah tertinggi rental sepeda kedua, musim panas memiliki jumlah tertinggi ketiga rental sepeda, dan yang terakhir adalah musim semi rental sepedah tertinggi

## b. hour_df EDA

In [ ]:
hour_df.describe()

In [ ]:
# Rental Sepeda tiap jam dalam 2 tahun untuk hari kerja

hour_df_workingday = hour_df[hour_df['workingday'] == 1]

hour_df_workingday.groupby(by = ['hr', 'workingday']).agg({
    'count' : ['sum', 'mean', 'min', 'max']
    }).sort_values(by=('count', 'sum'), ascending=False)

Dapat dilihat dari tabel diatas bahwa rental sepeda terbanyak dalam 2 tahun terbanyak pada pukul 17.00 - 18.00 sore.

untuk Rental terendah pada pukul 3.00 - 4.00 pagi hari.

In [ ]:
# Rental Sepeda tiap hari libur

hour_df_Holiday = hour_df[hour_df['holiday'] == 0]

hour_df_Holiday.groupby(by = ['hr', 'holiday']).agg({
    'count' : ('sum', 'mean', 'min', 'max')
    }).sort_values(by=('count', 'sum'), ascending=False)

Puncak Rental sepeda terbanyak pada pukul 17:00 (5 sore) dan 18:00 (6 sore). Puncak kedua terjadi pada pukul 08:00 (8 pagi). Ini menunjukkan bahwa sebagian besar penggunaan sepeda terjadi selama jam pulang kerja/aktivitas sore dan berangkat kerja/aktivitas pagi.

# Visualization & Data Explanatory Analysis

## Pertanyaan 1: Berapa banyak jumlah pengguna yang menggunakan Rental Sepeda dalam 2 tahun ?

In [ ]:
# Mengubah type data menjadi 'str'
plot_month_day_df = day_df['month'].astype('str')
plot_years_day_df = day_df['year'].astype('str')

# Merge column month dan year
day_df['month_year'] = plot_month_day_df + ' ' + plot_years_day_df

# Mengelompokan year dan month dan menyimpannya sebagai kolom baru di day_df
day_df['total_sum'] = day_df.groupby(by='month_year')['count'].transform('sum')

# Membuat line chart
plt.figure(figsize=(20, 6))
sns.set(style='whitegrid')
sns.lineplot(
    data=day_df,
    x='month_year',
    y='total_sum',
    marker='o'
)
plt.title("Jumlah Rental Sepedad dalam 2 tahun terakhir")
plt.xticks(rotation=45)
plt.show()

In [ ]:
day_df.groupby(by='month_year')['count'].sum().sort_values(ascending=False)

In [ ]:
day_df.groupby(by='year')['count'].sum()

Dapat dilihat dalam Tabel Chart diatas penyewaan sepeda terbanyak adalah pada bulan September 2012, peningkatan ini dimulai pada February 2012 sampai all time High pada September 2012. Total peminjaman 2012 sebanyak 2049575, tetapi pada bulan Oktober 2012 terjadi penurunan sampai Desember 2012. dapat dilhiat bahwa penurunan ini konsisten, dimana penurunan akan terjadi pada bulan Oktober dan akan meningkat pada Februari.

## Pertanyaan 2: Berapa Lama Rental sepeda selama Hari kerja dan Hari Libur ?

In [ ]:
plot_hr_workingday_df = hour_df_workingday.groupby(by = 'hr').agg({'count' : 'sum'}).reset_index()
plot_hr_holiday_df = hour_df_Holiday.groupby(by = 'hr').agg({'count' : 'sum'}).reset_index()

plt.figure(figsize=(10, 6))
sns.barplot(style='whitegrid')
plt.plot(plot_hr_workingday_df['hr'], plot_hr_workingday_df['count'], marker='o', label='Hari Kerja')
plt.plot(plot_hr_holiday_df['hr'], plot_hr_holiday_df['count'], marker='o', label='Hari Libur')
plt.title('Jumlah Rental Sepeda pada Hari Kerja dan Hari Libur')
plt.xlabel('Jam')
plt.ylabel('Jumlah Rental Sepeda')
plt.legend()
plt.show()

Dapat dilihat pada Tabel plot Jumlah Rental Sepeda pada Hari Libur dan Hari kerja dengan penggunaan Rental sepeda yang konsisten, terdapat 2 waktu dengan jumlah pengguna Rental sepeda terbanyak, yaitu yang pertama adalah pada pagi hari sekitar pukul 07.00 - 08.00 dan waktu dengan jumlah pengguna terbanyak kedua adalah pada pukul 17.00 - 18.00, Dengan pengguna terbanyak adalah pada hari libur.